main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-form-main{
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: var(--color-bg-primary);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--color-bg-primary);
    margin: 20px;
}

.cadastro-form-main h2{
    text-align: center;
    margin: 30px 0px;
}

.cadastro-form-main form{
    display: flex;
    flex-direction: column;
}

.cadastro-form-main form .inputGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cadastro-form-main form .inputGroup > p.maxMin{
    margin-top: 5px;
    font-size: .7em;
    color: red;
    text-align: end;
}

.cadastro-form-main form .inputGroup > input, .CEP-inputs > input{
    padding: 10.5px;
    border: 1.5px solid var(--color-bg-primary);
    border-radius: 5px;
}

.cadastro-form-main form button{
    width: 200px;
    padding: 14px;
    background-color: var(--color-bg-secondary);
    color: white;
    border: none;
    align-self: center;
    margin: 20px 0px;
    border-radius: 10px;
}

.cadastro-form-main form button:hover{
    background-color: var(--color-bg-primary);
    transform: translateY(-3px);
}

.cadastro-form-main form .CEP-inputs{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-bg-primary);
    border-radius: 5px;
    padding: 10px;
}


.cadastro-form-main form .CEP-inputs > input{
    width: 100%;
}

.cadastro-form-main p{
    text-align: center;
}

.cadastro-form-main p > a{
    font-size: .9em;
}

