@font-face {
    font-family: "Momo Trust Display";
    src: url(../fonts/MomoTrustDisplay-Regular.ttf) format("truetype");
}

:root {
    --font: "Momo Trust Display", sans-serif;
    --color-bg-primary: #023373; 
    --color-bg-secondary: #049DBF;
    --color-bg-tertiary: #88e9ff;
    --color-text-primary: rgb(39, 39, 39);
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
}

body{
    height: 100vh;
    background-color: var(--color-bg-secondary);
}

button, label{
    transition-duration: 0.2s;
    cursor: pointer;
}


footer{
    padding: 50px;
    background-color: white;
    color: white;
}




