main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-main{
    background-color: white;
    padding: 30px;
    width: 500px;
    max-width: 700px;;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    color: var(--color-bg-primary);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--color-bg-primary);
    margin: 20px;
}

.login-form-main form{
    display: flex;
    flex-direction: column;
}

.login-form-main .login-form-header{
    text-align: center;
    margin: 10px 0px 50px 0px;
}

.login-form-main form .login-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-form-main form .login-input > input{
    padding: 10.5px;
    border: 1.5px solid var(--color-bg-primary);
    border-radius: 5px;
}

.login-form-main form button{
    width: 50%;
    padding: 12px;
    background-color: var(--color-bg-secondary);
    color: white;
    border: none;
    align-self: center;
    margin: 20px 0px;
    border-radius: 10px;
}

.login-form-main form button:hover{
    background-color: var(--color-bg-primary);
    transform: translateY(-10px);
}

.login-form-main p{
    margin: 10px 0px;
    text-align: center;
}

.login-form-main p > a{
    font-size: .9em;
}