/* Import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

:root {
    --font: "Momo Trust Display", sans-serif;
    --color-bg-primary: #023373; 
    --color-text-primary: rgb(39, 39, 39);
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
}




