.container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav header"
    "nav main";
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.184);
  position: relative;
  z-index: 1;
  background: white;
}

header img{ width: 100px; }

main{
  padding: 24px;
  background: #f6f8fc;
  min-height: calc(100vh - 80px);
}

main section{
  background: white;
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 12px;
  box-shadow: var(--shadow-soft);
}

main > section > h2{
  display: flex;
  align-items: center;
  column-gap: 6px;
}

main > section > h2 > i{
  font-size: 1.8rem;
}

.status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  background-color: var(--color-bg-blue-darker);
  color: white;
}

.status > div > h1{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.status > div > h1 > i{
  font-size: 3rem;
}

.filtro{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.filtro > .field{ display: flex; flex-direction: column; gap: 6px; }

.field > input{
  background: #f0f4ff;
  padding: 12px;
  border: 2px solid rgba(54, 101, 255, 0.76);
  border-radius: 6px;
  width: 100%; 
}

.filtro > button{
  width: 100%;
  background-color: royalblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.filtro > button > i{
  font-size: 2rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}

th, td{
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
  font-weight: lighter;
}

thead{
  background: royalblue;
  color: white;
}

tbody > tr:nth-child(odd){
  background-color: var(--color-bg-white-opacity);
}

tbody > tr > .itemTableAcoes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

tbody > tr > .itemTableAcoes > button{
  background-color: royalblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

tr > .itemTableAcoes > button > i{
  font-size: 1.5rem;
}

/* HOVER */
.filtro > button:hover{
  background-color: var(--color-bg-blue-darker);
}

tbody > tr > td > button:hover{
  background-color: var(--color-bg-blue-darker);
}

/* FOCUS */

.field > input:focus{
  background-color: white;
}

.modal:focus {
  outline: none;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0; /* substitui top, left, width, height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0);
  opacity: 0;
  pointer-events: none;
  transition: background 0.3s ease, opacity 0.3s ease;
  z-index: 999;
}

.modal.show {
  background: rgba(0,0,0,0.5);
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  display: grid;
  row-gap: 20px;

  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal.show .modal-content {
  transform: scale(1);
  opacity: 1;
}

/* Cabeçalho */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-bg-blue-darker);
}

.modal-header h2 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 400; /* mais leve que normal */
  font-size: 1.25rem;
}

.modal-header h2 i {
  font-size: 1.8rem;
}

.modal-header button {
  background: royalblue;
  border: none;
  font-size: 1.8rem;
  color: var(--color-bg-blue-darker);
  cursor: pointer;
  transition: color 0.2s ease;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .1s all ease-in-out;
}

.modal-header button:hover {
  background-color: var(--color-bg-blue-darker); /* destaque sutil no hover */
}

/* Corpo do modal */
.modal-body {
  display: grid;
  row-gap: 16px;
}

.modal-body p {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--color-bg-blue-darker);
  font-weight: 300;
  margin: 0;
}

.modal-body span {
  background: #f0f4ff;
  border-radius: 8px;
  padding: 10px;
  color: #333;
  font-weight: 400;
}

