.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    background: url(../Img/backgroundWeveEffect.svg) no-repeat center top;
    background-size: cover;
}

header{
    padding: 20px;
}

header > img{
    width: 100px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

main > section{
    background-color: white;
    color: var(--color-bg-primary-blue);
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 20px;
}

main > section > i{
    font-size: 100px;
    padding: 5px;
    justify-self: center;
    margin-bottom: 10px;
}

main > section > h1{
    margin-bottom: 10px;
    font-size: 3.1rem;
    text-align: center;
}

main > section > p{
    margin-bottom: 10px;
    text-align: center;
    justify-self: center;
    font-size: 1.1rem;
    width: 50%;
}

main > section > p.text-timer{
    font-size: 1.2rem;
}

main > section > #timer{
    background-color: var(--color-bg-primary-blue);
    color: white;
    padding: 10px;
    width: max-content;
    justify-self: center;
    border-radius: 10px;
}

main > section > a{
    text-align: center;
    justify-self: center;
}