/* ==== PÁGINA DE LOGIN ==== */


/* ==== FOMULARIO DE LOGIN ==== */
.section-form-login{
    padding: 50px;
    width: 500px;
    max-width: 90%;
}

.section-form-login .form-header{
    text-align: center;
    margin-bottom: 40px;
}


.section-form-login form{
    display: flex;
    flex-direction: column;
}

.section-form-login form .inputGroup{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-form-login form .inputGroup .inputItem{
    display: flex;
    flex-direction: column;
}

.section-form-login form .inputGroup .inputItem label{
    margin-top: 5px;
    font-weight: 500;
}

.section-form-login form .inputGroup .inputItem > input{
    padding: 10px;
    border-radius: 6px;
    border: 2px solid rgba(64, 64, 255, 0.493);
}

.section-form-login form button{
    align-self: center;
    width: 50%;
    border-radius: 8px;
    margin: 20px 0px 30px 0px;
}


.section-form-login p{
    text-align: center;
}
