/* ==== PÁGINA DE LOGIN ==== */


/* ==== FOMULARIO DE LOGIN ==== */
.section-form-login{
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
}

.section-form-login .form-header{
    text-align: center;
    margin-bottom: 2.5rem;
}


.section-form-login form{
    display: flex;
    flex-direction: column;
}

.section-form-login form .inputGroup{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-form-login form .inputGroup .inputItem{
    display: flex;
    flex-direction: column;
}

.section-form-login form .inputGroup .inputItem label{
    margin-top: .3rem;
    font-weight: 500;
}

.section-form-login form a{
    margin-bottom: 1.2rem;
    align-self: flex-end;
    font-size: .9rem;
    text-decoration: none;
}

.section-form-login form a:hover{
    text-decoration: underline;
}

.section-form-login form button{
    align-self: center;
    width: 50%;
    border-radius: 8px;
    margin: 1.2rem 0 2rem 0;
}


.section-form-login p{
    text-align: center;
}
