.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "nav header"
    "nav main";
}

header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    padding: 22px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.184);
    position: relative;
    z-index: 1001;
    background: white;
}

header img {
    width: 100px;
    justify-self: center;
}

main{
    background: white;
    background-size: cover;
    padding: 24px;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 20px;
}

main > section{
    box-shadow: var(--shadow-medium);
    border-radius: 12px;
    background-color: white;
}

/* ==== SEÇÃO DO CABEÇALHO DO PERFIL ==== */
main > .titlePerfil{
    background-color: var(--color-bg-primary-blue);
    color: white;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 7px;
}

main > .titlePerfil > .User{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#avatar{
  font-size: 2rem;
  background-color: var(--color-bg-secondary-blue);
  padding: 20px;
  border-radius: 50%;
  width: 70px; 
  height: 70px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.userTitle{
    display: flex;
    flex-direction: column;
}

.userTitle > h1{
    font-weight: lighter;
}

.userTitle > p{
    font-size: .8rem;
    color: rgba(220, 229, 255, 0.632);
}

main > .titlePerfil > button{
    background: none;
    outline: 3px solid var(--color-bg-tertiary-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    gap: 5px;
}

main > .titlePerfil > button > i{
    font-size: 1.5rem;
}

main > .titlePerfil > button:hover{
    background-color: var(--color-bg-tertiary-blue);
    color: var(--color-bg-blue-darker);
}


/* ==== SEÇÃO COM AS INFORMAÇÕES DO USUÁRIO ==== */
main > section#infoUser{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 20px;
    box-shadow: none;
    border-radius: none;
}

main > section#infoUser > h3{
    grid-column: 1/-1;
    font-weight: lighter;
    font-size: 1.4rem;
    color: var(--color-bg-blue-darker);
}

.infoContant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: 20px;
}

.infoContant > .infoCard{
    background-color: rgba(140, 176, 255, 0.215);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoContant > .infoCard > p:first-child{
    display: flex;
    align-items: center;
    gap: 2px;
    color: rgba(19, 16, 84, 0.403);
    font-size: 1rem;
}

.infoContant > .infoCard > p:last-child{
    font-size: 1.1rem;
}

.infoContant > .infoCard:last-child{
    grid-column: 1/-1;
}

main > section#infoUser > button#logout{
    align-self: center;
    justify-self: flex-end;
    padding: 13px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: max-content;
}

main > section#infoUser > button#logout > i{
    font-size: 1.4rem;
}

main > section#infoUser > button#logout:hover{
    background-color: rgb(167, 0, 0);
}


/* ==== MODAL DE EDITAR O PERFIL ==== */
.modal{
    position: fixed;
    inset: 0; /* substitui top, left, width, height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0);
    opacity: 0;
    pointer-events: none;
    transition: background 0.1s ease, opacity 0.2s ease;
    z-index: 999;
}

.modal.active {
    background: rgba(0,0,0,0.5);
    opacity: 1;
    pointer-events: auto;
}

.modalHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.modalHeader > #modalAvatar{
    background-color: var(--color-bg-secondary-blue);
    color: white;
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalHeaderContent > h2{
    color: var(--color-bg-primary-blue);
    font-size: 1.5rem;
}

.modalHeaderContent > p{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.699);
}

aside{
    box-shadow: var(--shadow-medium);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    position: relative;
    background-color: white;
}

aside > h2{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
}

aside > form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 10px;
}

.atualizarItem{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.atualizarItem > label{
    color: var(--color-bg-primary-blue);
}

.atualizarItem > input,
.atualizarItem > div > input{
    padding: 15px;
    border-radius: 5px;
    border: 2px solid var(--color-bg-blue-darker);
}


.atualizarItem > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px 10px;
}

.atualizarItem > div > input{
    width: 100%;
}

.atualizarItem > div > p{
    grid-column: 1/-1;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.534);
}

aside > form > div#updateButton{
    grid-column: 1/-1;
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
} 

aside > form > div#updateButton > button{
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

aside > form > div#updateButton > button > i{
    font-size: 1.5rem;
}

aside > form > div#updateButton > button:first-child{
    background: none;
    outline: 2px solid red;
    color: red;
}

aside > form > div#updateButton > button:last-child{
    background-color: var(--color-bg-secondary-blue);
    color: white;
}

#infoUser #logout{
    justify-self: flex-end;
}

/* HOVER */
aside > form > div#updateButton > button:hover{
    transform: translateY(-4px);
}

aside > form > div#updateButton > button:first-child:hover{
    background-color: red;
    color: white;
}

aside > form > div#updateButton > button:last-child:hover{
    background-color: var(--color-bg-blue-darker);
}

@media (max-width: 850px){

    main > .titlePerfil{
        padding: 20px;
    }

    .userTitle > h1{
        font-size: 1.5rem;
    }

    #avatar{
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    .infoContant{
        grid-template-columns: 1fr;
    }

    main > .titlePerfil > button{
        width: max-content;
    }

    main > .titlePerfil > button > p{
        display: none;
    }
}
