#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: translatey(20px);
    background: var(--color-bg-primary-blue);
    color: white;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    opacity: 0;
    transition: opacity .4s ease, transform .4s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    pointer-events: none;
    z-index: 9999; 
}

#show {
    display: block;     
    min-width: 180px;   
    text-align: center; 
}

.container{
    background-color: var(--color-bg-primary-blue);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "main";
}

header{
    padding: 20px;
    background-color: white;
    position: relative;
}

header > img{
    width: 100px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 20px;
    background: var(--color-bg-primary-blue) url(../Img/backgroundWeveEffect.svg) no-repeat top center;
}

.section-redefinirSenha{
    box-shadow: 0px 0px 10px black;
    background-color: white;
}

.section-redefinirSenha > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-redefinirSenha > form > input{
    padding: 20px;
    width: 100%;
    border: 2px solid royalblue;
    border-radius: 6px;
    margin-bottom: 10px;
}

.section-redefinirSenha > form > button{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: rgb(37, 69, 165);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer > p{
    padding: 10px;
    color: white;
}