.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}

.section-redefinirSenha{
    grid-column: 2/3;
}

.image-wrapper{
    grid-column: 1/2;
}

.section-redefinirSenha h1, 
.section-redefinirSenha p{
    text-align: center;
}

.section-redefinirSenha form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 1.2rem;
}

.section-redefinirSenha input, 
.section-redefinirSenha button{
    width: 100%;
    padding: 0.9rem 1rem;
}

@media (max-width: 600px){
    .container{
        grid-template-columns: 1;
    }
    
    .image-wrapper{
        display: none;
    }

    .section-redefinirSenha{
        grid-column: 1/3;
    }
}