#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: translatey(20px);
    background: #ffffff;
    color: royalblue;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    opacity: 0;
    transition: opacity .4s ease, transform .4s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    pointer-events: none;
    z-index: 9999; 
}

#show {
    display: block;     
    min-width: 180px;   
    text-align: center; 
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
    position: relative;
}

header > img{
    width: 100px;
}

main{
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-redefinirSenha{
    box-shadow: 0px 0px 10px black;
}

.section-redefinirSenha > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-redefinirSenha > form > input{
    padding: 20px;
    width: 100%;
    border: 2px solid royalblue;
    border-radius: 6px;
    margin-bottom: 10px;
}

.section-redefinirSenha > form > button{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: rgb(37, 69, 165);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer > p{
    padding: 10px;
    color: white;
}