header{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > img{
    width: 100px;
}

header > a{
    font-size: 2.3rem;
    text-decoration: none;
    color: var(--color-bg-primary-blue);
}

main{
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.31);
    margin: 10px;
}

main > h2{
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 10px;
    color: white;
    background-color: var(--color-bg-primary-blue);
}

main > p{
    font-size: .9rem;
    margin: 10px;
}

main > section{
    padding: 10px;
    align-self: center;
}

main > section > form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    gap: 10px;
    grid-template-areas: 
    "item1 item2 item2"
    "item3 item4 item5"
    "item6 item6 item6"
    "none none btn";
    margin: 0px 10px 10px 10px;
}

main > section > form > div{
    display: flex;
    flex-direction: column;
}

main > section > form > div > label{
    margin-bottom: 5px;
}

main > section > form > div > input{
    padding: 10px;
    border: 1px solid var(--color-bg-primary-blue);
    border-radius: 5px;
}

main > section > form > #item1{
    grid-area: item1;
}

main > section > form > #item2{
    grid-area: item2;
}

main > section > form > #item3{
    grid-area: item3;
}

main > section > form > #item4{
    grid-area: item4;
    align-self: flex-end;
}

main > section > form > #item5{
    grid-area: item5;
    align-self: flex-end;
}

main > section > form > #item6{
    grid-area: item6;
}

main > section > form > #item6 > textarea{
    height: 200px;
    resize: none;
    padding: 10px;
    border: 1px solid var(--color-bg-primary-blue);
    border-radius: 5px;
}

main > section > form > button{
    grid-area: btn;
    justify-self: end;
    color: white;
    background-color: var(--color-bg-primary-blue);
}



