main{
    background-color: white;
}

.section-esqueciSenha form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.section-esqueciSenha-img{
    background: url(../Img/12085707_20944201.svg) no-repeat center center;
    background-size: cover;
}

.section-esqueciSenha p{
    margin: 0px 0 20px;
    text-align: center;
}

.section-esqueciSenha h1{
    text-align: center;
}

.section-esqueciSenha input, 
.section-esqueciSenha button{
    width: 100%;
    padding: 15px;
}
