.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "nav main"
    "nav main";
}

nav.sidebar{
    width: 70px;
    height: 100%;
    background-color: white;
    padding: 40px 0px 20px 0px;
    border-right: 2px solid var(--color-bg-primary-blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    overflow: hidden;

    transition: .2s;
}


nav.sidebar:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
}

.btn-expandir > i{
    color: var(--color-bg-primary-blue);
    font-size: 24px;
    cursor: pointer;
    transition: .2s;
    padding: 5px;
    
}

.btn-expandir > i:hover{
    background-color: rgb(216, 216, 255);
    
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.sideBar-item{
    transition: .1s;
    margin: 0px 10px;
    border-radius: 50px;
}

ul li.sideBar-item:hover{
    background-color: rgb(216, 216, 255);
}

ul li.sideBar-item a{
    color: var(--color-bg-primary-blue);
    text-decoration: none;
    font-size: 16px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul li.sideBar-item a .icon i{
    font-size: 30px;
    margin-left: 10px;
}


ul li.active a .icon,
ul li.active a .title{
    color: var(--color-bg-secondary-blue);
}