/* ----- HEADER ----- */

header{
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    grid-column: 1/3;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-primary-black);
    padding: 30px;
}

header > img{
    width: 100px;
}

header > .btn-links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

header > .btn-links > a{
    text-decoration: none;
    color: var(--color-bg-blue-darker);
}

header > .btn-links > a:hover{
    text-decoration: underline;
}

header > .btn-links > a:active{
    text-decoration: underline;
    color: royalblue;
}

header > .btn-links > button{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 170px;
}

header > .btn-links > button > i{
    font-size: 1.4rem;
}


/* ----- MAIN ----- */
main{
    background-color: royalblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    padding-top: 113px;
}

/* ----- SOBRE NÓS ----- */
#section-sobre{
    padding: 50px;
    text-align: start;
    background: linear-gradient(to top,  var(--color-bg-tertiary-blue) 5%, white 50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    color: var(--color-bg-blue-darker);
}

#section-sobre > .section-sobre-contant{
    align-self: center;
    justify-content: center;
    padding: 50px;
}

#section-sobre > .section-sobre-contant > h1{
    margin-bottom: 20px;
    font-size: 2.8rem;
}

#section-sobre > .section-sobre-contant > p{
    justify-self: start;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.2rem;
}

#section-sobre > img{
    width: 600px;
    align-self: center;
    justify-self: center;
}

/* ----- PROJETO ----- */
#section-projeto{
    padding: 100px;
    background: white;
    color: var(--color-bg-blue-darker);
}

#section-projeto > .section-projeto-contant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#section-projeto > .section-projeto-contant > div{
    justify-self: center;
    align-self: center;
    padding: 50px;
}

#section-projeto > .section-projeto-contant > div > h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

#section-projeto > .section-projeto-contant > div > p{
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.2rem;
}

#section-projeto > .section-projeto-contant > img{
    justify-self: center;
    align-self: center;
    width: 600px
}

/* ----- FUNCIONALIDADES ----- */
#section-funcionalidades{
    padding: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background-color: royalblue;
}

#section-funcionalidades > .sctFuncionContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    column-gap: 20px;
}

#section-funcionalidades > .sctFuncionContent > div{
    justify-self: center;
    align-self: center;
    padding: 50px;
}

#section-funcionalidades > .sctFuncionContent > div > h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

#section-funcionalidades > .sctFuncionContent > div > p{
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.2rem;
}

#section-funcionalidades > .sctFuncionContent > div > h2{
    font-size: 1.5rem;
    margin: 10px 0px;
}


#section-funcionalidades > .sctFuncionContent > img{
    width: 500px;
    justify-self: center;
    align-self: center;
}

/* ----- SEÇÃO DE CADASTRAR ----- */

.sctRegister{
    background-color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    color: var(--color-bg-blue-darker);
}

.sctRegister > button{
    padding: 30px;
    background-color: royalblue;
    width: 500px;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.29);
}

.sctRegister > button:hover{
    background-color: var(--color-bg-blue-darker);
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.29);
}

#section-developers{
    background: url(../assets/Img/backgroundWeveEffect.svg) no-repeat center top;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
    padding: 50px;
}


#section-developers > h1{
    grid-column: 1/-1;
    justify-self: center;
    margin-bottom: 50px;
    font-size: 3rem;
}

#section-developers > #ges-joao{
    grid-column: 1 / 2;
    grid-row: 2/3;
    justify-self: flex-start;
    text-align: start;
}

#section-developers > #dev-matheus{
    grid-column: 2 / 3;
    grid-row: 3/4;
    justify-self: flex-end;
    text-align: end;
}

#section-developers > #dev-alisson{
    grid-column: 1 / 2;
    grid-row: 4/5;
    justify-self: flex-start;
    text-align: start;
}

#section-developers > article{
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}

#section-developers > article > .article-developers{
    margin-bottom: 10px;
}

#section-developers > article > .article-developers > h3{
    font-weight: normal;
    color: var(--color-bg-primary-blue);
}


footer{
    background-color: var(--color-bg-primary-blue);
    padding: 50px;
    color: white;
}

@media (max-width: 900px) {
    #section-projeto > .section-projeto-contant > .cards{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    #section-projeto > .section-projeto-contant > .cards > .card-item1,
    #section-projeto > .section-projeto-contant > .cards > .card-item2,
    #section-projeto > .section-projeto-contant > .cards > .card-item3{
        justify-self: center;
        align-self: center;
        width: 90%;
        max-width: 500px;
    }

    #section-developers{
        grid-template-columns: 1fr;
        row-gap: 70px;
        column-gap: 0;
    }

    #section-developers > h1{
        grid-column: 1/-1;
        text-align: center;
    }

    #section-developers > #ges-joao,
    #section-developers > #dev-matheus,
    #section-developers > #dev-alisson{
        grid-column: 1/-1;
        justify-self: center;
        text-align: center;
    }
}
