.container{
    background: url(../Img/backgroundWeveEffect.svg) no-repeat center center;
    background-size: cover;
}

main{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.section-register{
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-areas: 
    "sct-left sct-right";
    background-color: rgba(255, 255, 255, 0.432);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.section-left{
    background: var(--color-bg-primary-blue) url(../Img/backgroundBannerGradient.svg) no-repeat center center;
    background-size: cover;
    grid-area: sct-left;
    padding: 20px;
}

.section-left > img{
    width: 110px;
}


.section-right{
    grid-area: sct-right;
    padding: 50px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr repeat(2, auto);
    grid-template-columns: 1fr;
    gap: 10px;
    color: var(--color-text-primary-black);
}

.section-right > h2{
    font-weight: bold;
    font-size: 2.5rem;
}

.section-right > p{
    font-size: 1rem;
    margin-bottom: 20px;
}

.section-right > form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px 10px;
    grid-template-areas: 
    "item1 item1"
    "item2 item3"
    "item4 item5"
    "item6 item6"
    "item7 item7"
    "btnRegister btnRegister";
}

.section-right > form > .form-item-register{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.section-right > form > .item1{ grid-area: item1; }
.section-right > form > .item2{ grid-area: item2; }
.section-right > form > .item3{ grid-area: item3; }
.section-right > form > .item4{ grid-area: item4; }
.section-right > form > .item5{ grid-area: item5; }
.section-right > form > .item6{ grid-area: item6; }
.section-right > form > .item7{ grid-area: item7; }

.section-right > form > .item3 > p{ 
    color: red; 
    font-size: .9rem; 
    text-align: end;
}

.section-right > form > button{ 
    grid-area: btnRegister;
    width: 100%;
    margin: 15px 0px 10px 0px;
    border-radius: 5px; 
    background-color: var(--color-bg-primary-blue);
    color: white;
    transition: .1s all ease-in-out;
    padding: 15px;
}

.section-right > form > button:hover{
    background-color: var(--color-bg-blue-darker);
    transform: translateY(-4px);
}


.section-right > form > .form-item-register > input{
    padding: 14px;
    border-radius: 5px;
    border: 2px solid var(--color-bg-blue-darker);
}

.section-right > hr{
    border: 1px solid var(--color-bg-blue-darker);
    margin-bottom: 10px;
}


.section-right > .link-login{
    text-align: center;
}