#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: translatey(20px);
    background: var(--color-bg-primary-blue);
    color: white;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    opacity: 0;
    transition: opacity .4s ease, transform .4s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    pointer-events: none;
    z-index: 9999; 
}

#show {
    display: block;     
    min-width: 180px;   
    text-align: center; 
}

.container{
    background-color: var(--color-bg-primary-blue);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "main";
}

header{
    padding: 20px;
    background-color: white;
    position: relative;
}

header > a{
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-bg-primary-blue);
    width: max-content;
    padding: 10px;
    transition: all .2s ease-in-out;
    border-radius: 50px;
}

header > a > i{
    font-size: 1.5rem;
}

header > a:hover{
    background-color: var(--color-bg-primary-blue);
    color: white;
    transform: translateY(-4px);
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 20px;
    background: var(--color-bg-primary-blue) url(../Img/backgroundWeveEffect.svg) no-repeat top center;
}


.sctForgottenPassword > form{
    gap: 10px;
}
