.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    background: url(../Img/backgroundWeveEffect.svg) center top no-repeat;
    background-size: cover;
}

header{
    display: flex;
    padding: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sctForgottenPassword{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    display: grid;
    grid-template-rows: auto;
}

.itemForgottenPasswordBHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sctForgottenPassword > .itemForgottenPasswordBHead > img{
    width: 100px;
}

.sctForgottenPassword > .itemForgottenPasswordBHead > i{
    font-size: 2.2rem;
}

.sctForgottenPassword > h1{
    margin-bottom: 5px;
    font-size: 2rem;
}

.sctForgottenPassword > p{
    margin-bottom: 30px;
}

.sctForgottenPassword > form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
}

.sctForgottenPassword > form > input{
    padding: 20px;
    border: 2px solid var(--color-bg-primary-blue);
    border-radius: 6px;
}

.sctForgottenPassword > form > button{
    width: 100%;
    padding: 20px;
    background-color: var(--color-bg-primary-blue);
    color: white;
}

.sctForgottenPassword > form > button:hover{
    background-color: var(--color-bg-secondary-blue);
}