#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg-primary-blue);
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;
}

#sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidebar-content > i.ph-bold{
    padding: 35.2px;
    background-color: var(--color-bg-blue-darker);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

#sidebar-items{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar-item{
    cursor: pointer;
    transition: .2s;
    border-bottom: 1px solid var(--color-bg-blue-darker);
}

.sidebar-item:hover{
    background-color: rgb(215, 215, 255);
}

.sidebar-item:hover > a{
    color: var(--color-bg-primary-blue);
}

.sidebar-item a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3px;
    color: white;
    width: 100%;
    padding: 25px;
}

.sidebar-item a i{
    font-size: 1.5em;
}

.item-title{
    font-size: 17px;
}

#btn-logout{
    background: red;
    color: white;
    box-shadow: none;
    padding: 14px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
}

#btn-logout i{
    font-size: 1.6em;
}

#btn-logout:hover{
    background-color: brown;
}
