/* Layout base igual ao inicio */
.container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "nav header"
  "nav main";
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.184);
  position: relative;
  z-index: 1;
  background: white;
}

header img{
  width: 100px;
}

main{
  padding: 24px;
  background: #f6f8fc;
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "titleDash titleDash titleDash"
  "status map map"
  "tabela tabela tabela";
  gap: 10px;
  grid-auto-rows: auto;
}

/* Seções */
main section{
  background: white;
  padding: 20px;
  border-radius: 7px;
  box-shadow: var(--shadow-soft);
}

main > section > h2{
  display: flex;
  align-items: center;
  column-gap: 6px;
}

main > section > h2 > i{
  font-size: 1.8rem;
}

/* TITULO DASHBOARD */
main > #titleDashboard{
  background-color: var(--color-bg-primary-blue);
  color: white;
  grid-area: titleDash;
  display: flex;
  flex-direction: column;
}

main > #titleDashboard > h1{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

main > #titleDashboard > hr{
  border: 1px solid rgba(217, 227, 255, 0.381);
  margin: 10px 0px;
}

#titleDashboard > h1 > i{
  font-size: 3rem;
}

#titleDashboard > p{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: rgb(217, 227, 255);
  border-radius: 7px;
}

#titleDashboard > p > i{
  font-size: 1.5rem;
}


/* SEÇÃO DE STATUS */
#sctStatus{
  grid-area: status;
}

/* Cards */
.cards{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  height: 100%;
}

.card{
  border-radius: 7px;
  box-shadow: var(--shadow-medium);
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
  padding: 20px;
}

.card > .card-content{
  display: grid;
  grid-template-rows: repeat(2, max-content);
  align-self: center;
}

.card > i{
  font-size: 3rem;
  justify-self: center;
  align-self: center;
  padding: 20px;
  border-radius: 50px;
}

.card.red > i,
.card.red{
  background: rgba(230, 46, 46, 0.568);
}

.card.orange > i,
.card.orange{
  background: rgb(255, 123, 0, 0.568);
}

.card.green > i,
.card.green{
  background: rgba(40, 179, 27, 0.568);
}

.card h3{
  font-size: 1rem;
  margin-bottom: 6px;
  font-weight: lighter;
}

.card > .card-content > p{
  font-size: 2.3rem;
  font-weight: 600;
}

/* SEÇÃO DE MAPA */
#sctMap{
  grid-area: map;
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 500px;
  padding: 0;
  background: none;
}

#sctMap > .mapCaption{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  background-color: var(--color-bg-primary-blue);
  padding: 10px;
  border-radius: 7px 7px 0px 0px;
  color: white;
}

#sctMap > .mapCaption > .itemCaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#sctMap > .mapCaption > .itemCaption > span{
  padding: 6px;
  border-radius: 50%;
}

#sctMap > .mapCaption > .itemCaption > span.capRed{ background-color: #ff0000; }
#sctMap > .mapCaption > .itemCaption > span.capOrange{ background-color: #ff7700; }
#sctMap > .mapCaption > .itemCaption > span.capGreen{ background-color: #00cc66; }

div#map{
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
}


#ReviewDashboard{
  grid-area: tabela;
}

/* Tabela */
main > #ReviewDashboard > table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}


th, td{
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
  font-weight: lighter;
}

thead{
  background: var(--color-bg-secondary-blue);
  color: white;
}

tbody > tr > .itemTableAcoes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

tr > .itemTableAcoes > button{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  justify-self: center;
  width: 100%;
}

tr > .itemTableAcoes > button > i{
  font-size: 1.5rem;
}

