/* Layout base igual ao inicio */
.container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "nav header"
  "nav main";
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.184);
  position: relative;
  z-index: 1;
  background: white;
}

header img{
  width: 100px;
}

main{
  padding: 24px;
  background: #f6f8fc;
  min-height: calc(100vh - 80px);
}

/* Seções */
main section{
  background: white;
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 12px;
  box-shadow: var(--shadow-soft);
}

main > section > h2{
  display: flex;
  align-items: center;
  column-gap: 6px;
}

main > section > h2 > i{
  font-size: 1.8rem;
}

/* Primeira Seção */
main > #titleDashboard{
  background-color: var(--color-bg-blue-darker);
  color: white;
}

main > #titleDashboard > h1{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

#titleDashboard > h1 > i{
  font-size: 3rem;
}

div#map{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sctStatus > .sctStatusHeader{
  margin-bottom: 20px;
}

.sctStatus > .sctStatusBody{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

/* Cards */
.cards{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card{
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--shadow-medium);
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.card > .card-content{
  display: grid;
  grid-template-rows: max-content 1fr;
}


.card > i{
  font-size: 3rem;
  justify-self: flex-end;
  align-self: center;
  padding: 20px;
  border-radius: 10px;
}

.card.red > i,
.card.red{
  background: rgba(230, 46, 46, 0.568);
}

.card.orange > i,
.card.orange{
  background: rgb(255, 123, 0, 0.568);
}

.card.green > i,
.card.green{
  background: rgba(40, 179, 27, 0.568);
}

.card h3{
  font-size: 1rem;
  margin-bottom: 6px;
  font-weight: lighter;
}

.card > .card-content > p{
  font-size: 2.3rem;
  font-weight: 600;
  align-self: flex-end;
}

/* Tabela */
main > #ReviewDashboard > table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}


th, td{
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
  font-weight: lighter;
}

thead{
  background: #f0f4ff;
}

tbody > tr > .itemTableAcoes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

tr > .itemTableAcoes > button{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  justify-self: center;
  width: 100%;
}

tr > .itemTableAcoes > button > i{
  font-size: 1.5rem;
}



/* Lista */

main > #ajuda > ul{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#ajuda > ul > li{
  margin-left: 10px;
  list-style: inside;
  font-weight: lighter;
  margin-bottom: 5px;
}
